#body-contact {
  background-size: 1980px 1200px;
}
.card {
  width: 70%;
  padding: 30px 90px 90px 90px;
  border: 6px solid rgba(0, 0, 0, 0.5);
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  position: relative;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.212);
}
#sousTitre {
  color: rgba(0, 0, 0, 0.6);
  font-size: 30px;
}
.card h2 {
  text-shadow: #fc0 1px 0 10px;
  font-size: 45px;
  text-transform: uppercase;
}

.card .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 10px;
}

.card .row .col {
  position: relative;
  width: 100%;
  margin: 10px 20px 40px 0;
  transition: 0.5s;
}

.card .row .form-group {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ffffff;
  text-align: left;
}

.card .row .form-group input,
.card .row .form-group textarea {
  position: relative;
  width: 90%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 18px;
  padding: 10px 0 10px 20px;
  border: 5px solid rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border-radius: 50px;
}

.card .row .form-group label {
  line-height: 30px;
  color: #ffffff;
  font-size: 24px;
  margin: 0 0 0 20px;
  display: block;
  pointer-events: none;
}

.row .col:nth-child(6) {
  margin-top: 34px;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
  border: 5px solid #ffffff;
  transition: all 0.5s;
}

.card .row input[type="submit"] {
  border: 5px solid rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  height: 100%;
  width: 200px;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  line-height: 40px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 45px;
  transition: all 0.4s;
}

.card .row input[type="submit"]:hover {
  border: 5px solid rgba(255, 255, 255, 1);
  color: white;
  text-shadow: #fc0 1px 0 10px;
  transition: all 0.4s;
}

@media screen and (max-width: 900px) {
  .navbar--links {
    z-index: 1;
  }
  .card .row {
    grid-template-columns: repeat(auto-fit, minmax(70%, 1fr));
  }

  .card {
    padding: 20px;
  }

  .card h2 {
    font-size: 0.5em;
  }
  #sousTitre {
    font-size: 0.4em;
  }

  .card .row input[type="submit"] {
    width: 100%;
  }
  .card .row .form-group label,
  .card .row .form-group input {
    font-size: 18px;
  }
}
