body {
  background: url(images/background-galerie.jpg) no-repeat;
  background-size: cover;
  color: white;
}
#main--galerie {
  width: 100%;
  height: 82vh;
  text-align: center;
  font-size: 1.5em;
}
#titre--galerie {
  font-size: 3em;
  text-shadow: #fc0 1px 0 10px;
}
.categ--links {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
.categ--link {
  margin: 0 10px;
  cursor: pointer;
}

/* media effets style en desktop des lien categ galerie */
@media screen and (min-width: 768px) {
  .categ--link > a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.4s;
  }
  .categ--link:hover > a::after {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #titre--galerie {
    font-size: 2em;
    margin-top: 20px;
  }
  .categ--links {
    font-size: 0.5em;
    margin-top: 20px;
  }

  .categ--link {
    margin: 1px;
    border-right: 1px solid white;
  }
  .categ--link a {
    padding-right: 2px;
  }
}
